name: API Tets with Newman

on:
	push:
		branches: [ main, dev ]
	pull_request:
		branches: [ main, dev ]

jobs
	api-tes:
		runs-on: ubuntu-latest

		services:
			postgres:
				image: postgres:16
				env:
					POSTGRES_DB: sgedb
					POSTGRES_USER: sgeuser
					POSTGRES_PASSWORD: sgepassword
        ports:
          - 5432:5432
          
    sge.api:
      
  